In [4]:
import pandas as pd
file_path = r"C:\Users\abdel\OneDrive\Desktop\demographic.csv"
demographic_df = pd.read_csv(file_path)
# Display the first few rows of the DataFrame
print("demographic DataFrame:")
demographic_df

demographic DataFrame:

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.52
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,83727,8,2,1,26,NaN,2,2,2.0,NaN,...,3.0,NaN,NaN,27141.631824,28115.568221,1,104,77.0,77.0,NaN
10171,83728,8,2,2,2,24.0,1,1,2.0,24.0,...,3.0,1.0,3.0,15274.475360,16512.138781,1,107,8.0,8.0,1.95
10172,83729,8,2,2,42,NaN,4,4,2.0,NaN,...,5.0,3.0,NaN,24122.248900,26902.344381,1,104,7.0,7.0,3.66
10173,83730,8,2,1,7,NaN,2,2,1.0,84.0,...,4.0,1.0,3.0,25521.878546,26686.025573,2,109,6.0,6.0,1.05
10174,83731,8,2,1,11,NaN,5,6,1.0,140.0,...,5.0,1.0,5.0,8930.180154,9700.873491,2,106,15.0,15.0,5.00

In [2]:

import pandas as pd
file_path = r"D:\Memberdata.csv"
demographic_df = pd.read_csv(file_path)
# Display the first few rows of the DataFrame
print("demographic DataFrame:")
demographic_df

demographic DataFrame:

     Member    Order       SKU      Created On       Description
0    M09736  6468572  34993740     41904.94792      Other Sauces
1    M09736  6468572  15669800     41904.94792           Cashews
2    M09736  6468572  34989501     41904.94792        Other Dals
3    M09736  6468572   7572303     41904.94792           Namkeen
4    M09736  6468572  15669856     41904.94792             Sugar
..      ...      ...       ...             ...               ...
621  M09736  8355751  15668469  12/07/13 11:13             Beans
622  M09736  8355751  15668465  12/07/13 11:13   Root Vegetables
623  M09736  8355751  15668375  12/07/13 11:13   Root Vegetables
624  M09736  8355751  15668478  12/07/13 11:13            Banana
625  M09736  8355751  15668379  12/07/13 11:13  Other Vegetables

[626 rows x 5 columns]

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CheckSparkVersion").getOrCreate()
print("Spark Version:", spark.version)

Spark Version: 3.4.1

In [8]:
import pandas as pd

# Assuming df is your pandas DataFrame with numeric columns containing null values

# Identify numeric columns with null values
numeric_cols_with_null = demographic_df.select_dtypes(include=['number']).columns[demographic_df.isnull().any()]

# Calculate median for each numeric column with null values
median_values =demographic_df[numeric_cols_with_null].median()

# Replace null values with median for each numeric column
demographic_df[numeric_cols_with_null] = demographic_df[numeric_cols_with_null].fillna(median_values)

# Show updated DataFrame
demographic_df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,9.0,4,4,1.0,103.0,...,3.0,4.0,4.0,13281.237386,13481.042095,1,112,4.0,4.0,0.840
1,73558,8,2,1,54,9.0,3,3,1.0,103.0,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.780
2,73559,8,2,1,72,9.0,3,3,2.0,103.0,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.510
3,73560,8,2,1,9,9.0,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.520
4,73561,8,2,2,73,9.0,3,3,1.0,103.0,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,83727,8,2,1,26,9.0,2,2,2.0,103.0,...,3.0,1.0,4.0,27141.631824,28115.568221,1,104,77.0,77.0,1.705
10171,83728,8,2,2,2,24.0,1,1,2.0,24.0,...,3.0,1.0,3.0,15274.475360,16512.138781,1,107,8.0,8.0,1.950
10172,83729,8,2,2,42,9.0,4,4,2.0,103.0,...,5.0,3.0,4.0,24122.248900,26902.344381,1,104,7.0,7.0,3.660
10173,83730,8,2,1,7,9.0,2,2,1.0,84.0,...,4.0,1.0,3.0,25521.878546,26686.025573,2,109,6.0,6.0,1.050
10174,83731,8,2,1,11,9.0,5,6,1.0,140.0,...,5.0,1.0,5.0,8930.180154,9700.873491,2,106,15.0,15.0,5.000

In [10]:
import pandas as pd

# Assuming df is your Pandas DataFrame

# Check data types of columns
column_data_types =demographic_df.dtypes
print(column_data_types)

SEQN          int64
SDDSRVYR      int64
RIDSTATR      int64
RIAGENDR      int64
RIDAGEYR      int64
RIDAGEMN    float64
RIDRETH1      int64
RIDRETH3      int64
RIDEXMON    float64
RIDEXAGM    float64
DMQMILIZ    float64
DMQADFC     float64
DMDBORN4      int64
DMDCITZN    float64
DMDYRSUS    float64
DMDEDUC3    float64
DMDEDUC2    float64
DMDMARTL    float64
RIDEXPRG    float64
SIALANG       int64
SIAPROXY    float64
SIAINTRP      int64
FIALANG     float64
FIAPROXY    float64
FIAINTRP    float64
MIALANG     float64
MIAPROXY    float64
MIAINTRP    float64
AIALANGA    float64
DMDHHSIZ      int64
DMDFMSIZ      int64
DMDHHSZA      int64
DMDHHSZB      int64
DMDHHSZE      int64
DMDHRGND      int64
DMDHRAGE      int64
DMDHRBR4    float64
DMDHREDU    float64
DMDHRMAR    float64
DMDHSEDU    float64
WTINT2YR    float64
WTMEC2YR    float64
SDMVPSU       int64
SDMVSTRA      int64
INDHHIN2    float64
INDFMIN2    float64
INDFMPIR    float64
dtype: object

In [13]:
import pandas as pd

# Assuming df is your Pandas DataFrame with the NHANES dataset and original column names

# Define the new column names
new_column_names = {
    'SEQN': 'RespondentID',
    'SDDSRVYR': 'SurveyYear',
    'RIDSTATR': 'RespondentStatus',
    'RIAGENDR': 'Gender',
    'RIDAGEYR': 'AgeYears',
    'RIDAGEMN': 'AgeMonths',
    'RIDRETH1': 'EthnicityCode1',
    'RIDRETH3': 'EthnicityCode3',
    'RIDEXMON': 'ExamMonth',
    'RIDEXAGM': 'ExamAgeMonths',
    'DMQMILIZ': 'MilitaryStatus',
    'DMQADFC': 'AdultInFamilyCode',
    'DMDBORN4': 'BirthCountryCode',
    'DMDCITZN': 'CitizenshipCode',
    'DMDYRSUS': 'YearsInUS',
    'DMDEDUC3': 'EducationCode3',
    'DMDEDUC2': 'EducationCode2',
    'DMDMARTL': 'MaritalStatus',
    'RIDEXPRG': 'PregnancyStatus',
    'SIALANG': 'LanguageSpoken',
    'SIAPROXY': 'ProxyInterview',
    'SIAINTRP': 'InterviewerCode',
    'FIALANG': 'FamilyLanguage',
    'FIAPROXY': 'FamilyProxy',
    'FIAINTRP': 'FamilyInterviewer',
    'MIALANG': 'MotherLanguage',
    'MIAPROXY': 'MotherProxy',
    'MIAINTRP': 'MotherInterviewer',
    'AIALANGA': 'FatherLanguage',
    'DMDHHSIZ': 'HouseholdSize',
    'DMDFMSIZ': 'FamilySize',
    'DMDHHSZA': 'HouseholdAdults',
    'DMDHHSZB': 'HouseholdChildren',
    'DMDHHSZE': 'HouseholdElders',
    'DMDHRGND': 'HouseholdGender',
    'DMDHRAGE': 'HouseholdAge',
    'DMDHRBR4': 'HouseholdBirths',
    'DMDHREDU': 'HouseholdEducation',
    'DMDHRMAR': 'HouseholdMarital',
    'DMDHSEDU': 'HouseholdSpouseEducation',
    'WTINT2YR': 'InterviewWeight',
    'WTMEC2YR': 'ExaminationWeight',
    'SDMVPSU': 'PSUCode',
    'SDMVSTRA': 'StratificationCode',
    'INDHHIN2': 'HouseholdIncome',
    'INDFMIN2': 'FamilyIncome',
    'INDFMPIR': 'IncomeToPovertyRatio'
}

# Rename columns in the DataFrame
demographic_df= demographic_df.rename(columns=new_column_names)

# Now df contains the NHANES dataset with updated column names
demographic_df

,RespondentID,SurveyYear,RespondentStatus,Gender,AgeYears,AgeMonths,EthnicityCode1,EthnicityCode3,ExamMonth,ExamAgeMonths,...,HouseholdEducation,HouseholdMarital,HouseholdSpouseEducation,InterviewWeight,ExaminationWeight,PSUCode,StratificationCode,HouseholdIncome,FamilyIncome,IncomeToPovertyRatio
0,73557,8,2,1,69,9.0,4,4,1.0,103.0,...,3.0,4.0,4.0,13281.237386,13481.042095,1,112,4.0,4.0,0.840
1,73558,8,2,1,54,9.0,3,3,1.0,103.0,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.780
2,73559,8,2,1,72,9.0,3,3,2.0,103.0,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.510
3,73560,8,2,1,9,9.0,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.520
4,73561,8,2,2,73,9.0,3,3,1.0,103.0,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,83727,8,2,1,26,9.0,2,2,2.0,103.0,...,3.0,1.0,4.0,27141.631824,28115.568221,1,104,77.0,77.0,1.705
10171,83728,8,2,2,2,24.0,1,1,2.0,24.0,...,3.0,1.0,3.0,15274.475360,16512.138781,1,107,8.0,8.0,1.950
10172,83729,8,2,2,42,9.0,4,4,2.0,103.0,...,5.0,3.0,4.0,24122.248900,26902.344381,1,104,7.0,7.0,3.660
10173,83730,8,2,1,7,9.0,2,2,1.0,84.0,...,4.0,1.0,3.0,25521.878546,26686.025573,2,109,6.0,6.0,1.050
10174,83731,8,2,1,11,9.0,5,6,1.0,140.0,...,5.0,1.0,5.0,8930.180154,9700.873491,2,106,15.0,15.0,5.000