In [5]:
import pandas as pd
# Specify the file path
file_path = r"C:\Users\abdel\OneDrive\Desktop\Human Resources.csv"

# Load the CSV file into a Pandas DataFrame
Human_Resource_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print("Human Resource DataFrame:")
Human_Resource_df .head(30)

Human Resource DataFrame:

,Country,Year,Psychiatrists,Nurses,Social_workers,Psychologists
0,Afghanistan,2016,0.231,0.098,NaN,0.296
1,Albania,2016,1.471,6.876,1.060,1.231
2,Angola,2016,0.057,0.660,0.022,0.179
3,Antigua and Barbuda,2016,1.001,7.005,4.003,NaN
4,Argentina,2016,21.705,NaN,NaN,222.572
5,Armenia,2016,3.840,11.245,0.274,0.788
6,Azerbaijan,2016,3.452,6.717,0.114,1.165
7,Bangladesh,2016,0.130,0.873,NaN,0.124
8,Belarus,2016,13.504,NaN,NaN,5.514
9,Belize,2016,1.392,3.340,NaN,1.113
10,Bhutan,2016,0.508,0.127,NaN,NaN
11,Bolivia (Plurinational State of),2016,1.128,NaN,NaN,NaN
12,Brazil,2016,3.165,34.948,6.608,12.368
13,Brunei Darussalam,2016,1.197,15.088,0.239,5.029
14,Bulgaria,2016,7.203,17.736,0.780,1.867
15,Burkina Faso,2016,0.039,0.635,0.011,0.022
16,Cambodia,2016,0.387,0.277,NaN,7.089
17,Chad,2016,0.007,0.021,0.007,NaN
18,Chile,2016,6.970,1.880,NaN,NaN
19,Colombia,2016,1.835,0.000,NaN,NaN
20,Congo,2016,0.080,0.500,0.020,0.020
21,Cook Islands,2016,5.731,11.462,17.193,11.462
22,Costa Rica,2016,3.931,5.699,76.957,142.018
23,CÃ´te d'Ivoire,2016,0.130,0.381,NaN,NaN
24,Croatia,2016,11.095,41.856,1.298,4.367
25,Cuba,2016,9.056,8.899,1.335,31.061
26,Dominican Republic,2016,2.280,NaN,0.294,7.598
27,Ecuador,2016,0.458,0.056,0.019,7.662
28,Egypt,2016,1.600,4.799,0.448,0.256
29,El Salvador,2016,0.887,NaN,0.301,2.075

In [6]:
# Replace NaN values in specific columns with zero
columns_to_replace = ['Nurses', 'Social_workers', 'Psychologists']  # Replace with your actual column names
Human_Resource_df[columns_to_replace] = Human_Resource_df[columns_to_replace].fillna(0)

# Display the DataFrame with NaN values replaced in specific columns
Human_Resource_df.head(30)

,Country,Year,Psychiatrists,Nurses,Social_workers,Psychologists
0,Afghanistan,2016,0.231,0.098,0.000,0.296
1,Albania,2016,1.471,6.876,1.060,1.231
2,Angola,2016,0.057,0.660,0.022,0.179
3,Antigua and Barbuda,2016,1.001,7.005,4.003,0.000
4,Argentina,2016,21.705,0.000,0.000,222.572
5,Armenia,2016,3.840,11.245,0.274,0.788
6,Azerbaijan,2016,3.452,6.717,0.114,1.165
7,Bangladesh,2016,0.130,0.873,0.000,0.124
8,Belarus,2016,13.504,0.000,0.000,5.514
9,Belize,2016,1.392,3.340,0.000,1.113
10,Bhutan,2016,0.508,0.127,0.000,0.000
11,Bolivia (Plurinational State of),2016,1.128,0.000,0.000,0.000
12,Brazil,2016,3.165,34.948,6.608,12.368
13,Brunei Darussalam,2016,1.197,15.088,0.239,5.029
14,Bulgaria,2016,7.203,17.736,0.780,1.867
15,Burkina Faso,2016,0.039,0.635,0.011,0.022
16,Cambodia,2016,0.387,0.277,0.000,7.089
17,Chad,2016,0.007,0.021,0.007,0.000
18,Chile,2016,6.970,1.880,0.000,0.000
19,Colombia,2016,1.835,0.000,0.000,0.000
20,Congo,2016,0.080,0.500,0.020,0.020
21,Cook Islands,2016,5.731,11.462,17.193,11.462
22,Costa Rica,2016,3.931,5.699,76.957,142.018
23,CÃ´te d'Ivoire,2016,0.130,0.381,0.000,0.000
24,Croatia,2016,11.095,41.856,1.298,4.367
25,Cuba,2016,9.056,8.899,1.335,31.061
26,Dominican Republic,2016,2.280,0.000,0.294,7.598
27,Ecuador,2016,0.458,0.056,0.019,7.662
28,Egypt,2016,1.600,4.799,0.448,0.256
29,El Salvador,2016,0.887,0.000,0.301,2.075

In [7]:
import pandas as pd
# Specify the file path
file_path = r"C:\Users\abdel\OneDrive\Desktop\Facilities.csv"

# Load the CSV file into a Pandas DataFrame
Facilities_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print("Facilities DataFrame:")
Facilities_df.head(30)

Facilities DataFrame:

,Country,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
0,Afghanistan,2016,0.003,0.012,0.006,NaN,NaN
1,Albania,2016,0.068,0.068,0.410,NaN,0.445
2,Algeria,2016,0.048,0.068,0.048,NaN,NaN
3,Angola,2016,0.011,NaN,NaN,NaN,0.014
4,Antigua and Barbuda,2016,1.001,NaN,NaN,NaN,NaN
5,Argentina,2016,0.937,1.071,1.720,NaN,0.152
6,Armenia,2016,NaN,0.069,1.371,0.034,NaN
7,Azerbaijan,2016,0.114,0.021,0.156,0.094,0.031
8,Bangladesh,2016,0.001,0.035,0.055,NaN,0.045
9,Belarus,2016,0.200,0.063,0.116,0.285,NaN
10,Belize,2016,NaN,1.948,2.227,0.278,0.278
11,Bhutan,2016,NaN,0.127,3.556,NaN,NaN
12,Bolivia (Plurinational State of),2016,0.075,0.009,0.009,NaN,NaN
13,Brazil,2016,0.069,0.115,1.491,NaN,0.267
14,Brunei Darussalam,2016,NaN,0.479,2.634,0.718,0.479
15,Bulgaria,2016,0.167,0.307,0.307,5.935,1.783
16,Burkina Faso,2016,NaN,0.287,NaN,NaN,NaN
17,Cambodia,2016,NaN,0.006,1.134,NaN,NaN
18,Chad,2016,NaN,0.007,0.007,NaN,NaN
19,Chile,2016,0.023,0.175,0.839,0.315,1.171
20,Colombia,2016,1.988,0.222,0.292,NaN,NaN
21,Congo,2016,NaN,0.040,0.020,NaN,NaN
22,Cook Islands,2016,NaN,NaN,5.731,5.731,5.731
23,Costa Rica,2016,0.042,0.042,1.706,0.125,0.042
24,CÃ´te d'Ivoire,2016,0.009,0.013,0.017,0.022,NaN
25,Croatia,2016,0.165,0.519,3.093,0.803,NaN
26,Cuba,2016,0.166,0.148,2.932,0.445,1.213
27,Dominican Republic,2016,NaN,0.076,1.748,0.019,NaN
28,Ecuador,2016,0.025,0.173,0.242,3.010,NaN
29,Egypt,2016,0.019,NaN,0.031,0.011,NaN

In [8]:
import pandas as pd
# Specify the file path
file_path = r"C:\Users\abdel\OneDrive\Desktop\Age-standardized suicide rates.csv"

# Load the CSV file into a Pandas DataFrame
AgeStandardized_rates_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print("Crude_suicide DataFrame:")
AgeStandardized_rates_df.head(30)

Crude_suicide DataFrame:

                Country          Sex  2016  2015  2010  2000
0           Afghanistan   Both sexes   6.4   6.6   7.4   8.1
1           Afghanistan         Male  10.6  10.9  12.5  14.3
2           Afghanistan       Female   2.1   2.1   2.1   1.7
3               Albania   Both sexes   5.6   5.3   7.7   5.8
4               Albania         Male   7.0   6.7   9.5   8.2
5               Albania       Female   4.3   4.0   6.0   3.6
6               Algeria   Both sexes   3.3   3.4   3.5   4.7
7               Algeria         Male   4.9   5.0   5.1   6.7
8               Algeria       Female   1.8   1.8   1.9   2.8
9                Angola   Both sexes   8.9   9.3  10.4  13.9
10               Angola         Male  14.0  14.8  16.7  21.9
11               Angola       Female   4.6   4.7   5.1   7.2
12  Antigua and Barbuda   Both sexes   0.5   0.8   0.2   2.1
13  Antigua and Barbuda         Male   0.0   0.0   0.5   4.3
14  Antigua and Barbuda       Female   0.9   1.6   0.0   0.1
15            Argentina   Both sexes   9.1   8.7   8.6   9.5
16            Argentina         Male  15.0  14.4  14.4  16.2
17            Argentina       Female   3.5   3.4   3.2   3.6
18              Armenia   Both sexes   5.7   6.0   5.4   3.2
19              Armenia         Male  10.1  10.7   9.7   5.7
20              Armenia       Female   2.0   2.2   1.9   1.2
21            Australia   Both sexes  11.7  12.2  11.0  12.2
22            Australia         Male  17.4  18.3  16.8  19.2
23            Australia       Female   6.0   6.2   5.3   5.4
24              Austria   Both sexes  11.4  11.5  12.2  16.0
25              Austria         Male  17.5  18.2  19.5  25.2
26              Austria       Female   5.7   5.3   5.4   7.9
27           Azerbaijan   Both sexes   2.6   2.7   3.0   2.4
28           Azerbaijan         Male   4.3   4.4   5.1   4.1
29           Azerbaijan       Female   1.0   1.0   1.2   1.0

In [9]:
# Replace NaN values in specific columns with zero
columns_to_replace = ['Mental _hospitals', 'health_units', 'outpatient _facilities','day _treatment','residential_facilities']  # Replace with your actual column names
Facilities_df[columns_to_replace] = Facilities_df[columns_to_replace].fillna(0)

# Display the DataFrame with NaN values replaced in specific columns
Facilities_df.head(30)

,Country,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
0,Afghanistan,2016,0.003,0.012,0.006,0.000,0.000
1,Albania,2016,0.068,0.068,0.410,0.000,0.445
2,Algeria,2016,0.048,0.068,0.048,0.000,0.000
3,Angola,2016,0.011,0.000,0.000,0.000,0.014
4,Antigua and Barbuda,2016,1.001,0.000,0.000,0.000,0.000
5,Argentina,2016,0.937,1.071,1.720,0.000,0.152
6,Armenia,2016,0.000,0.069,1.371,0.034,0.000
7,Azerbaijan,2016,0.114,0.021,0.156,0.094,0.031
8,Bangladesh,2016,0.001,0.035,0.055,0.000,0.045
9,Belarus,2016,0.200,0.063,0.116,0.285,0.000
10,Belize,2016,0.000,1.948,2.227,0.278,0.278
11,Bhutan,2016,0.000,0.127,3.556,0.000,0.000
12,Bolivia (Plurinational State of),2016,0.075,0.009,0.009,0.000,0.000
13,Brazil,2016,0.069,0.115,1.491,0.000,0.267
14,Brunei Darussalam,2016,0.000,0.479,2.634,0.718,0.479
15,Bulgaria,2016,0.167,0.307,0.307,5.935,1.783
16,Burkina Faso,2016,0.000,0.287,0.000,0.000,0.000
17,Cambodia,2016,0.000,0.006,1.134,0.000,0.000
18,Chad,2016,0.000,0.007,0.007,0.000,0.000
19,Chile,2016,0.023,0.175,0.839,0.315,1.171
20,Colombia,2016,1.988,0.222,0.292,0.000,0.000
21,Congo,2016,0.000,0.040,0.020,0.000,0.000
22,Cook Islands,2016,0.000,0.000,5.731,5.731,5.731
23,Costa Rica,2016,0.042,0.042,1.706,0.125,0.042
24,CÃ´te d'Ivoire,2016,0.009,0.013,0.017,0.022,0.000
25,Croatia,2016,0.165,0.519,3.093,0.803,0.000
26,Cuba,2016,0.166,0.148,2.932,0.445,1.213
27,Dominican Republic,2016,0.000,0.076,1.748,0.019,0.000
28,Ecuador,2016,0.025,0.173,0.242,3.010,0.000
29,Egypt,2016,0.019,0.000,0.031,0.011,0.000

In [10]:
# Replace NaN values in specific columns with zero
columns_to_replace = ['Mental _hospitals', 'health_units', 'outpatient _facilities','day _treatment','residential_facilities']  # Replace with your actual column names
Facilities_df[columns_to_replace] = Facilities_df[columns_to_replace].fillna(0)

# Display the DataFrame with NaN values replaced in specific columns
Facilities_df.head(30)

,Country,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
0,Afghanistan,2016,0.003,0.012,0.006,0.000,0.000
1,Albania,2016,0.068,0.068,0.410,0.000,0.445
2,Algeria,2016,0.048,0.068,0.048,0.000,0.000
3,Angola,2016,0.011,0.000,0.000,0.000,0.014
4,Antigua and Barbuda,2016,1.001,0.000,0.000,0.000,0.000
5,Argentina,2016,0.937,1.071,1.720,0.000,0.152
6,Armenia,2016,0.000,0.069,1.371,0.034,0.000
7,Azerbaijan,2016,0.114,0.021,0.156,0.094,0.031
8,Bangladesh,2016,0.001,0.035,0.055,0.000,0.045
9,Belarus,2016,0.200,0.063,0.116,0.285,0.000
10,Belize,2016,0.000,1.948,2.227,0.278,0.278
11,Bhutan,2016,0.000,0.127,3.556,0.000,0.000
12,Bolivia (Plurinational State of),2016,0.075,0.009,0.009,0.000,0.000
13,Brazil,2016,0.069,0.115,1.491,0.000,0.267
14,Brunei Darussalam,2016,0.000,0.479,2.634,0.718,0.479
15,Bulgaria,2016,0.167,0.307,0.307,5.935,1.783
16,Burkina Faso,2016,0.000,0.287,0.000,0.000,0.000
17,Cambodia,2016,0.000,0.006,1.134,0.000,0.000
18,Chad,2016,0.000,0.007,0.007,0.000,0.000
19,Chile,2016,0.023,0.175,0.839,0.315,1.171
20,Colombia,2016,1.988,0.222,0.292,0.000,0.000
21,Congo,2016,0.000,0.040,0.020,0.000,0.000
22,Cook Islands,2016,0.000,0.000,5.731,5.731,5.731
23,Costa Rica,2016,0.042,0.042,1.706,0.125,0.042
24,CÃ´te d'Ivoire,2016,0.009,0.013,0.017,0.022,0.000
25,Croatia,2016,0.165,0.519,3.093,0.803,0.000
26,Cuba,2016,0.166,0.148,2.932,0.445,1.213
27,Dominican Republic,2016,0.000,0.076,1.748,0.019,0.000
28,Ecuador,2016,0.025,0.173,0.242,3.010,0.000
29,Egypt,2016,0.019,0.000,0.031,0.011,0.000

In [11]:
import pandas as pd
# Specify the file path
file_path = r"C:\Users\abdel\OneDrive\Desktop\Sub\SystemAnalysis\SA.Project\Crude suicide rates.edit.csv"

# Load the CSV file into a Pandas DataFrame
Crude_suicide_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print("Crude_suicide DataFrame:")
Crude_suicide_df.head(30)

Crude_suicide DataFrame:

,Country,Sex,over_80,over_70,over_60,over_50,over_40,over_30,over_20,over_10
0,Afghanistan,Both sexes,42.0,11.0,5.5,5.6,6.6,9.2,10.2,3.1
1,Afghanistan,Male,70.4,20.9,9.8,9.3,10.5,15.1,16.3,4.8
2,Afghanistan,Female,20.1,2.3,1.4,1.6,2.3,2.7,3.5,1.2
3,Albania,Both sexes,16.3,8.3,6.0,7.8,9.1,6.1,6.5,5.0
4,Albania,Male,23.2,11.9,8.1,11.4,13.5,8.8,6.3,3.1
5,Albania,Female,10.9,4.9,3.9,4.4,5.0,3.4,6.6,7.0
6,Algeria,Both sexes,9.4,5.6,4.2,4.1,4.7,5.3,4.2,1.3
7,Algeria,Male,12.7,8.4,6.2,6.2,7.0,7.9,6.2,1.6
8,Algeria,Female,6.4,3.0,2.2,2.0,2.4,2.6,2.1,1.0
9,Angola,Both sexes,63.5,42.1,23.8,14.8,7.0,5.4,6.6,2.6
10,Angola,Male,123.2,68.2,34.7,21.8,10.7,8.4,10.4,3.8
11,Angola,Female,25.3,21.7,14.5,8.6,3.5,2.5,2.9,1.4
12,Antigua and Barbuda,Both sexes,0.0,0.0,8.1,0.0,0.0,0.0,0.0,0.0
13,Antigua and Barbuda,Male,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Antigua and Barbuda,Female,0.0,0.0,15.8,0.0,0.0,0.0,0.0,0.0
15,Argentina,Both sexes,15.8,11.6,10.0,9.5,9.8,10.8,15.3,8.6
16,Argentina,Male,41.6,22.7,17.2,15.1,15.5,17.8,25.3,12.7
17,Argentina,Female,4.1,3.7,3.9,4.3,4.2,3.7,5.0,4.3
18,Armenia,Both sexes,27.9,17.4,10.1,8.4,9.0,5.4,4.5,2.2
19,Armenia,Male,41.0,28.1,17.8,15.9,17.2,10.1,8.2,3.5
20,Armenia,Female,20.2,10.4,4.4,2.6,2.3,1.4,0.9,0.6
21,Australia,Both sexes,28.8,13.1,12.9,18.2,19.7,16.3,13.9,5.6
22,Australia,Male,41.2,19.8,19.8,27.5,30.2,24.7,20.7,7.3
23,Australia,Female,20.1,6.7,6.2,9.0,9.4,8.0,6.8,3.9
24,Austria,Both sexes,40.9,25.1,17.8,23.1,15.7,13.1,10.8,4.5
25,Austria,Male,91.8,40.6,27.4,33.1,23.8,19.9,17.1,5.2
26,Austria,Female,12.7,12.4,9.0,13.2,7.6,6.3,4.3,3.7
27,Azerbaijan,Both sexes,7.7,6.6,4.5,4.1,3.5,3.2,2.2,1.4
28,Azerbaijan,Male,12.5,10.4,7.3,7.0,6.2,5.4,3.4,2.1
29,Azerbaijan,Female,5.0,4.0,2.1,1.4,1.0,1.0,0.9,0.6

In [12]:


# Transformation
# Merge datasets based on common columns
merged_df = pd.merge(AgeStandardized_rates_df,Crude_suicide_df, on=["Country", "Sex"], how="inner")

# Display the transformed DataFrame
print("\nTransformed DataFrame:")
merged_df

# Further transformations or analysis can be performed as needed

Transformed DataFrame:

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,over_40,over_30,over_20,over_10
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,6.6,9.2,10.2,3.1
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,10.5,15.1,16.3,4.8
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,2.3,2.7,3.5,1.2
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,9.1,6.1,6.5,5.0
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,13.5,8.8,6.3,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,17.0,13.3,12.3,3.9
545,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,6.9,4.6,4.2,1.6
546,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,19.2,13.7,11.3,4.6
547,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,30.1,22.8,19.1,6.4
548,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,9.4,5.5,3.8,2.7

In [13]:
merged_df = pd.merge(merged_df, Facilities_df, on=["Country"], how="inner")
# Display the transformed DataFrame
print("\nTransformed DataFrame:")
merged_df

Transformed DataFrame:

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,over_40,over_30,over_20,over_10,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,6.6,9.2,10.2,3.1,2016,0.003,0.012,0.006,0.000,0.000
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,10.5,15.1,16.3,4.8,2016,0.003,0.012,0.006,0.000,0.000
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,2.3,2.7,3.5,1.2,2016,0.003,0.012,0.006,0.000,0.000
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,9.1,6.1,6.5,5.0,2016,0.068,0.068,0.410,0.000,0.445
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,13.5,8.8,6.3,3.1,2016,0.068,0.068,0.410,0.000,0.445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,17.0,13.3,12.3,3.9,2016,0.062,0.062,0.205,0.000,0.019
323,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,6.9,4.6,4.2,1.6,2016,0.062,0.062,0.205,0.000,0.019
324,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,19.2,13.7,11.3,4.6,2016,0.025,0.025,0.057,0.006,0.051
325,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,30.1,22.8,19.1,6.4,2016,0.025,0.025,0.057,0.006,0.051
326,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,9.4,5.5,3.8,2.7,2016,0.025,0.025,0.057,0.006,0.051

In [14]:

merged_df = pd.merge(merged_df, Human_Resource_df, on=["Country", "Year"], how="inner")
# Display the transformed DataFrame
print("\nTransformed DataFrame:")
merged_df

Transformed DataFrame:

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Year,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities,Psychiatrists,Nurses,Social_workers,Psychologists
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,2016,0.003,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,2016,0.003,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,2016,0.003,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,2016,0.068,0.068,0.410,0.000,0.445,1.471,6.876,1.060,1.231
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,2016,0.068,0.068,0.410,0.000,0.445,1.471,6.876,1.060,1.231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,2016,0.062,0.062,0.205,0.000,0.019,0.056,1.429,0.019,0.031
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,2016,0.062,0.062,0.205,0.000,0.019,0.056,1.429,0.019,0.031
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,2016,0.025,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,2016,0.025,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,2016,0.025,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057

In [15]:
merged_df['Total_Suicide_Rates'] = merged_df['2016'] + merged_df['2015'] + merged_df['2010'] + merged_df['2000']
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Mental _hospitals,health_units,outpatient _facilities,day _treatment,residential_facilities,Psychiatrists,Nurses,Social_workers,Psychologists,Total_Suicide_Rates
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0.003,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296,28.5
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0.003,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296,48.3
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0.003,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296,8.0
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,0.068,0.068,0.410,0.000,0.445,1.471,6.876,1.060,1.231,24.4
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,0.068,0.068,0.410,0.000,0.445,1.471,6.876,1.060,1.231,31.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,0.062,0.062,0.205,0.000,0.019,0.056,1.429,0.019,0.031,74.7
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,0.062,0.062,0.205,0.000,0.019,0.056,1.429,0.019,0.031,26.0
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,0.025,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057,80.3
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,0.025,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057,125.6
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,0.025,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057,43.1

In [16]:
merged_df['Suicide_Rates_per_Mental_Hospitals'] = merged_df['Mental _hospitals'] / merged_df['Total_Suicide_Rates']
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,health_units,outpatient _facilities,day _treatment,residential_facilities,Psychiatrists,Nurses,Social_workers,Psychologists,Total_Suicide_Rates,Suicide_Rates_per_Mental_Hospitals
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296,28.5,0.000105
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296,48.3,0.000062
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0.012,0.006,0.000,0.000,0.231,0.098,0.000,0.296,8.0,0.000375
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,0.068,0.410,0.000,0.445,1.471,6.876,1.060,1.231,24.4,0.002787
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,0.068,0.410,0.000,0.445,1.471,6.876,1.060,1.231,31.4,0.002166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,0.062,0.205,0.000,0.019,0.056,1.429,0.019,0.031,74.7,0.000830
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,0.062,0.205,0.000,0.019,0.056,1.429,0.019,0.031,26.0,0.002385
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057,80.3,0.000311
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057,125.6,0.000199
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,0.025,0.057,0.006,0.051,0.095,3.486,0.634,0.057,43.1,0.000580

In [17]:
merged_df['Nurses_to_Psychiatrists_Ratio'] = merged_df['Nurses'] / merged_df['Psychiatrists']
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,outpatient _facilities,day _treatment,residential_facilities,Psychiatrists,Nurses,Social_workers,Psychologists,Total_Suicide_Rates,Suicide_Rates_per_Mental_Hospitals,Nurses_to_Psychiatrists_Ratio
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0.006,0.000,0.000,0.231,0.098,0.000,0.296,28.5,0.000105,0.424242
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0.006,0.000,0.000,0.231,0.098,0.000,0.296,48.3,0.000062,0.424242
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0.006,0.000,0.000,0.231,0.098,0.000,0.296,8.0,0.000375,0.424242
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,0.410,0.000,0.445,1.471,6.876,1.060,1.231,24.4,0.002787,4.674371
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,0.410,0.000,0.445,1.471,6.876,1.060,1.231,31.4,0.002166,4.674371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,0.205,0.000,0.019,0.056,1.429,0.019,0.031,74.7,0.000830,25.517857
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,0.205,0.000,0.019,0.056,1.429,0.019,0.031,26.0,0.002385,25.517857
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,0.057,0.006,0.051,0.095,3.486,0.634,0.057,80.3,0.000311,36.694737
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,0.057,0.006,0.051,0.095,3.486,0.634,0.057,125.6,0.000199,36.694737
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,0.057,0.006,0.051,0.095,3.486,0.634,0.057,43.1,0.000580,36.694737

In [18]:
merged_df['Average_Suicide_Rates'] = merged_df[['2016', '2015', '2010', '2000']].mean(axis=1)
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,day _treatment,residential_facilities,Psychiatrists,Nurses,Social_workers,Psychologists,Total_Suicide_Rates,Suicide_Rates_per_Mental_Hospitals,Nurses_to_Psychiatrists_Ratio,Average_Suicide_Rates
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0.000,0.000,0.231,0.098,0.000,0.296,28.5,0.000105,0.424242,7.125
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0.000,0.000,0.231,0.098,0.000,0.296,48.3,0.000062,0.424242,12.075
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0.000,0.000,0.231,0.098,0.000,0.296,8.0,0.000375,0.424242,2.000
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,0.000,0.445,1.471,6.876,1.060,1.231,24.4,0.002787,4.674371,6.100
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,0.000,0.445,1.471,6.876,1.060,1.231,31.4,0.002166,4.674371,7.850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,0.000,0.019,0.056,1.429,0.019,0.031,74.7,0.000830,25.517857,18.675
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,0.000,0.019,0.056,1.429,0.019,0.031,26.0,0.002385,25.517857,6.500
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,0.006,0.051,0.095,3.486,0.634,0.057,80.3,0.000311,36.694737,20.075
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,0.006,0.051,0.095,3.486,0.634,0.057,125.6,0.000199,36.694737,31.400
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,0.006,0.051,0.095,3.486,0.634,0.057,43.1,0.000580,36.694737,10.775

In [19]:
merged_df['Normalized_Nurses'] = merged_df['Nurses'] / merged_df['Nurses'].max()
merged_df['Normalized_Psychiatrists'] = merged_df['Psychiatrists'] / merged_df['Psychiatrists'].max()
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Psychiatrists,Nurses,Social_workers,Psychologists,Total_Suicide_Rates,Suicide_Rates_per_Mental_Hospitals,Nurses_to_Psychiatrists_Ratio,Average_Suicide_Rates,Normalized_Nurses,Normalized_Psychiatrists
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0.231,0.098,0.000,0.296,28.5,0.000105,0.424242,7.125,0.000652,0.004808
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0.231,0.098,0.000,0.296,48.3,0.000062,0.424242,12.075,0.000652,0.004808
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0.231,0.098,0.000,0.296,8.0,0.000375,0.424242,2.000,0.000652,0.004808
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,1.471,6.876,1.060,1.231,24.4,0.002787,4.674371,6.100,0.045763,0.030620
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,1.471,6.876,1.060,1.231,31.4,0.002166,4.674371,7.850,0.045763,0.030620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,0.056,1.429,0.019,0.031,74.7,0.000830,25.517857,18.675,0.009511,0.001166
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,0.056,1.429,0.019,0.031,26.0,0.002385,25.517857,6.500,0.009511,0.001166
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,0.095,3.486,0.634,0.057,80.3,0.000311,36.694737,20.075,0.023201,0.001978
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,0.095,3.486,0.634,0.057,125.6,0.000199,36.694737,31.400,0.023201,0.001978
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,0.095,3.486,0.634,0.057,43.1,0.000580,36.694737,10.775,0.023201,0.001978

In [20]:
merged_df['Has_Day_Treatment_Facilities'] = merged_df['day _treatment'].apply(lambda x: 1 if x > 0 else 0)
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Nurses,Social_workers,Psychologists,Total_Suicide_Rates,Suicide_Rates_per_Mental_Hospitals,Nurses_to_Psychiatrists_Ratio,Average_Suicide_Rates,Normalized_Nurses,Normalized_Psychiatrists,Has_Day_Treatment_Facilities
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0.098,0.000,0.296,28.5,0.000105,0.424242,7.125,0.000652,0.004808,0
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0.098,0.000,0.296,48.3,0.000062,0.424242,12.075,0.000652,0.004808,0
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0.098,0.000,0.296,8.0,0.000375,0.424242,2.000,0.000652,0.004808,0
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,6.876,1.060,1.231,24.4,0.002787,4.674371,6.100,0.045763,0.030620,0
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,6.876,1.060,1.231,31.4,0.002166,4.674371,7.850,0.045763,0.030620,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,1.429,0.019,0.031,74.7,0.000830,25.517857,18.675,0.009511,0.001166,0
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,1.429,0.019,0.031,26.0,0.002385,25.517857,6.500,0.009511,0.001166,0
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,3.486,0.634,0.057,80.3,0.000311,36.694737,20.075,0.023201,0.001978,1
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,3.486,0.634,0.057,125.6,0.000199,36.694737,31.400,0.023201,0.001978,1
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,3.486,0.634,0.057,43.1,0.000580,36.694737,10.775,0.023201,0.001978,1

In [21]:
age_groups = ['over_10', 'over_20', 'over_30', 'over_40', 'over_50', 'over_60', 'over_70', 'over_80']
for age_group in age_groups:
    merged_df[f'Suicide_Rates_{age_group}_Age_Group'] = merged_df[f'{age_group}']
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Normalized_Psychiatrists,Has_Day_Treatment_Facilities,Suicide_Rates_over_10_Age_Group,Suicide_Rates_over_20_Age_Group,Suicide_Rates_over_30_Age_Group,Suicide_Rates_over_40_Age_Group,Suicide_Rates_over_50_Age_Group,Suicide_Rates_over_60_Age_Group,Suicide_Rates_over_70_Age_Group,Suicide_Rates_over_80_Age_Group
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0.004808,0,3.1,10.2,9.2,6.6,5.6,5.5,11.0,42.0
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0.004808,0,4.8,16.3,15.1,10.5,9.3,9.8,20.9,70.4
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0.004808,0,1.2,3.5,2.7,2.3,1.6,1.4,2.3,20.1
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,0.030620,0,5.0,6.5,6.1,9.1,7.8,6.0,8.3,16.3
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,0.030620,0,3.1,6.3,8.8,13.5,11.4,8.1,11.9,23.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,0.001166,0,3.9,12.3,13.3,17.0,27.3,38.7,79.0,152.1
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,0.001166,0,1.6,4.2,4.6,6.9,11.2,16.0,26.4,31.2
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,0.001978,1,4.6,11.3,13.7,19.2,29.4,41.3,81.5,205.7
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,0.001978,1,6.4,19.1,22.8,30.1,47.0,62.8,111.5,285.0
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,0.001978,1,2.7,3.8,5.5,9.4,16.0,26.4,59.4,152.4

In [22]:
threshold_high_suicide = 15  # Define a threshold for high suicide rates
merged_df['High_Suicide_Rates'] = (merged_df['Average_Suicide_Rates'] > threshold_high_suicide).astype(int)
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Has_Day_Treatment_Facilities,Suicide_Rates_over_10_Age_Group,Suicide_Rates_over_20_Age_Group,Suicide_Rates_over_30_Age_Group,Suicide_Rates_over_40_Age_Group,Suicide_Rates_over_50_Age_Group,Suicide_Rates_over_60_Age_Group,Suicide_Rates_over_70_Age_Group,Suicide_Rates_over_80_Age_Group,High_Suicide_Rates
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,0,3.1,10.2,9.2,6.6,5.6,5.5,11.0,42.0,0
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,0,4.8,16.3,15.1,10.5,9.3,9.8,20.9,70.4,0
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,0,1.2,3.5,2.7,2.3,1.6,1.4,2.3,20.1,0
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,0,5.0,6.5,6.1,9.1,7.8,6.0,8.3,16.3,0
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,0,3.1,6.3,8.8,13.5,11.4,8.1,11.9,23.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,0,3.9,12.3,13.3,17.0,27.3,38.7,79.0,152.1,1
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,0,1.6,4.2,4.6,6.9,11.2,16.0,26.4,31.2,0
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,1,4.6,11.3,13.7,19.2,29.4,41.3,81.5,205.7,1
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,1,6.4,19.1,22.8,30.1,47.0,62.8,111.5,285.0,1
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,1,2.7,3.8,5.5,9.4,16.0,26.4,59.4,152.4,0

In [23]:
merged_df['Suicide_Rates_Change'] = merged_df['2016'] - merged_df['2000']
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Suicide_Rates_over_10_Age_Group,Suicide_Rates_over_20_Age_Group,Suicide_Rates_over_30_Age_Group,Suicide_Rates_over_40_Age_Group,Suicide_Rates_over_50_Age_Group,Suicide_Rates_over_60_Age_Group,Suicide_Rates_over_70_Age_Group,Suicide_Rates_over_80_Age_Group,High_Suicide_Rates,Suicide_Rates_Change
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,3.1,10.2,9.2,6.6,5.6,5.5,11.0,42.0,0,-1.7
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,4.8,16.3,15.1,10.5,9.3,9.8,20.9,70.4,0,-3.7
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,1.2,3.5,2.7,2.3,1.6,1.4,2.3,20.1,0,0.4
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,5.0,6.5,6.1,9.1,7.8,6.0,8.3,16.3,0,-0.2
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,3.1,6.3,8.8,13.5,11.4,8.1,11.9,23.2,0,-1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,3.9,12.3,13.3,17.0,27.3,38.7,79.0,152.1,1,-4.4
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,1.6,4.2,4.6,6.9,11.2,16.0,26.4,31.2,0,-1.3
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,4.6,11.3,13.7,19.2,29.4,41.3,81.5,205.7,1,-2.6
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,6.4,19.1,22.8,30.1,47.0,62.8,111.5,285.0,1,-6.4
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,2.7,3.8,5.5,9.4,16.0,26.4,59.4,152.4,0,1.3

In [24]:
merged_df['Running_Total_Suicide_Rates'] = merged_df.groupby('Country')['Total_Suicide_Rates'].cumsum()
merged_df

,Country,Sex,2016,2015,2010,2000,over_80,over_70,over_60,over_50,...,Suicide_Rates_over_20_Age_Group,Suicide_Rates_over_30_Age_Group,Suicide_Rates_over_40_Age_Group,Suicide_Rates_over_50_Age_Group,Suicide_Rates_over_60_Age_Group,Suicide_Rates_over_70_Age_Group,Suicide_Rates_over_80_Age_Group,High_Suicide_Rates,Suicide_Rates_Change,Running_Total_Suicide_Rates
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,42.0,11.0,5.5,5.6,...,10.2,9.2,6.6,5.6,5.5,11.0,42.0,0,-1.7,28.5
1,Afghanistan,Male,10.6,10.9,12.5,14.3,70.4,20.9,9.8,9.3,...,16.3,15.1,10.5,9.3,9.8,20.9,70.4,0,-3.7,76.8
2,Afghanistan,Female,2.1,2.1,2.1,1.7,20.1,2.3,1.4,1.6,...,3.5,2.7,2.3,1.6,1.4,2.3,20.1,0,0.4,84.8
3,Albania,Both sexes,5.6,5.3,7.7,5.8,16.3,8.3,6.0,7.8,...,6.5,6.1,9.1,7.8,6.0,8.3,16.3,0,-0.2,24.4
4,Albania,Male,7.0,6.7,9.5,8.2,23.2,11.9,8.1,11.4,...,6.3,8.8,13.5,11.4,8.1,11.9,23.2,0,-1.2,55.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,17.5,17.4,17.9,21.9,152.1,79.0,38.7,27.3,...,12.3,13.3,17.0,27.3,38.7,79.0,152.1,1,-4.4,122.8
299,Zambia,Female,6.2,6.1,6.2,7.5,31.2,26.4,16.0,11.2,...,4.2,4.6,6.9,11.2,16.0,26.4,31.2,0,-1.3,148.8
300,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,205.7,81.5,41.3,29.4,...,11.3,13.7,19.2,29.4,41.3,81.5,205.7,1,-2.6,80.3
301,Zimbabwe,Male,29.1,28.7,32.3,35.5,285.0,111.5,62.8,47.0,...,19.1,22.8,30.1,47.0,62.8,111.5,285.0,1,-6.4,205.9
302,Zimbabwe,Female,11.1,11.1,11.1,9.8,152.4,59.4,26.4,16.0,...,3.8,5.5,9.4,16.0,26.4,59.4,152.4,0,1.3,249.0

In [25]:
selected_columns = ['Country','Sex','Total_Suicide_Rates', 'Suicide_Rates_per_Mental_Hospitals', 'Nurses_to_Psychiatrists_Ratio', 'Average_Suicide_Rates', 'Normalized_Nurses', 'Normalized_Psychiatrists','Has_Day_Treatment_Facilities']
Result_df = merged_df[selected_columns]
Result_df

,Country,Sex,Total_Suicide_Rates,Suicide_Rates_per_Mental_Hospitals,Nurses_to_Psychiatrists_Ratio,Average_Suicide_Rates,Normalized_Nurses,Normalized_Psychiatrists,Has_Day_Treatment_Facilities
0,Afghanistan,Both sexes,28.5,0.000105,0.424242,7.125,0.000652,0.004808,0
1,Afghanistan,Male,48.3,0.000062,0.424242,12.075,0.000652,0.004808,0
2,Afghanistan,Female,8.0,0.000375,0.424242,2.000,0.000652,0.004808,0
3,Albania,Both sexes,24.4,0.002787,4.674371,6.100,0.045763,0.030620,0
4,Albania,Male,31.4,0.002166,4.674371,7.850,0.045763,0.030620,0
...,...,...,...,...,...,...,...,...,...
298,Zambia,Male,74.7,0.000830,25.517857,18.675,0.009511,0.001166,0
299,Zambia,Female,26.0,0.002385,25.517857,6.500,0.009511,0.001166,0
300,Zimbabwe,Both sexes,80.3,0.000311,36.694737,20.075,0.023201,0.001978,1
301,Zimbabwe,Male,125.6,0.000199,36.694737,31.400,0.023201,0.001978,1
302,Zimbabwe,Female,43.1,0.000580,36.694737,10.775,0.023201,0.001978,1

In [26]:
##Load the transformed data into a new CSV file
output_csv_file = "Result_df.csv"
Result_df.to_csv(output_csv_file, index=False)

In [27]:
# Print each column name in a separate line
print("Columns in merged_df:")
for column in merged_df.columns:
    print(column)

Columns in merged_df:
Country
Sex
2016
2015
2010
2000
over_80
over_70
over_60
over_50
over_40
over_30
over_20
over_10
Year
Mental _hospitals
health_units
outpatient _facilities
day _treatment
residential_facilities
Psychiatrists
Nurses
Social_workers
Psychologists
Total_Suicide_Rates
Suicide_Rates_per_Mental_Hospitals
Nurses_to_Psychiatrists_Ratio
Average_Suicide_Rates
Normalized_Nurses
Normalized_Psychiatrists
Has_Day_Treatment_Facilities
Suicide_Rates_over_10_Age_Group
Suicide_Rates_over_20_Age_Group
Suicide_Rates_over_30_Age_Group
Suicide_Rates_over_40_Age_Group
Suicide_Rates_over_50_Age_Group
Suicide_Rates_over_60_Age_Group
Suicide_Rates_over_70_Age_Group
Suicide_Rates_over_80_Age_Group
High_Suicide_Rates
Suicide_Rates_Change
Running_Total_Suicide_Rates

In [30]:
# Replace the placeholders with your actual database connection details
conn = psycopg2.connect(database="Records", user="postgres", password="root", host="127.0.0.1", port="5433")
print("Database connection opened.")
cur = conn.cursor()

# Your DataFrame named Result_df should be defined before this point
# For example: Result_df = pd.DataFrame({'column1': [1, 2, 3], 'column2': ['a', 'b', 'c']})

# Specify the table name
table_name = 'Result'

# Load the DataFrame into the PostgreSQL table
Result_df.to_sql(name=table_name, con=conn, index=False, if_exists='replace')  # Use 'replace' if you want to overwrite the table

# Close the database connection
conn.close()

Database connection opened.

C:\Users\abdel\AppData\Local\Temp\ipykernel_22692\962360938.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Result_df.to_sql(name=table_name, con=conn, index=False, if_exists='replace')  # Use 'replace' if you want to overwrite the table

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': syntax error at or near ";"
LINE 8:             AND name=?;
                              ^

In [32]:
import psycopg2
from psycopg2 import sql
import csv

# Replace with your database connection details
conn = psycopg2.connect(database="Records", user="postgres", password="root", host="127.0.0.1", port="5433")
print("Database connection opened.")
cur = conn.cursor()

# Replace with your CSV file path and table name
csv_file_path = 'Result_df.csv'
table_name = 'Results'

# Open the CSV file
with open(csv_file_path, 'r') as f:
    # Check if the table exists
    cur.execute(sql.SQL("""
        SELECT EXISTS (
            SELECT 1
            FROM information_schema.tables
            WHERE table_name = {table_name}
        );
    """).format(table_name=sql.Literal(table_name)))

    table_exists = cur.fetchone()[0]

    # If the table doesn't exist, create it
    if not table_exists:
        cur.execute(sql.SQL("""
            CREATE TABLE {table_name} (col1 INT, col2 TEXT, col3 FLOAT);  -- Adjust column types as needed
        """).format(table_name=sql.Identifier(table_name)))

    # Create a temporary table
    cur.execute(sql.SQL("""
        CREATE TEMPORARY TABLE temp_table AS 
        SELECT * FROM {table_name} 
        WITH NO DATA;
    """).format(table_name=sql.Identifier(table_name)))

    # Copy the data from the CSV file to the temporary table
    cur.copy_expert(sql.SQL("""
        COPY temp_table FROM STDIN WITH CSV HEADER;
    """), f)

    # Insert the data from the temporary table into the main table
    cur.execute(sql.SQL("""
        INSERT INTO {table_name} SELECT * FROM temp_table;
    """).format(table_name=sql.Identifier(table_name)))

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

print("Data loaded into the PostgreSQL table '{table_name}' successfully.")

Database connection opened.

BadCopyFileFormat: extra data after last expected column
CONTEXT:  COPY temp_table, line 2: "Afghanistan, Both sexes,28.5,0.00010526315789473685,0.42424242424242425,7.125,0.0006522419151952399,..."

In [33]:
import pandas as pd
import psycopg2

# Replace the placeholders with your actual database connection details
conn = psycopg2.connect(database="Records", user="postgres", password="root", host="127.0.0.1", port="5433")
print("Database connection opened.")
cur = conn.cursor()

# Load the CSV file into a DataFrame
Result_df = pd.read_csv('Result_df.csv')

# Specify the table name
table_name = 'Result'

# Load the DataFrame into the PostgreSQL table
Result_df.to_sql(name=table_name, con=conn, index=False, if_exists='replace')  # Use 'replace' if you want to overwrite the table

# Close the database connection
conn.close()

Database connection opened.

C:\Users\abdel\AppData\Local\Temp\ipykernel_22692\3759772103.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Result_df.to_sql(name=table_name, con=conn, index=False, if_exists='replace')  # Use 'replace' if you want to overwrite the table

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': syntax error at or near ";"
LINE 8:             AND name=?;
                              ^